@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
html {
  width: auto;
}

body {
  background-color: white;
  width: auto;
}

h1.display-3 {
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  background-color: #EFF4F9;
  color: #445566;
  height: 110px;
  width: 100%;
  margin-top: auto;
  text-align: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  color: #17222D;
}

.row .form-control {
  background-color: #EFF4F9;
  color: #17222D;
  height: 47px;
  width: 142%;
  margin-top: 4px;
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
          box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
}

.form-group {
  letter-spacing: 1px;
  margin-right: 35px;
  margin-top: 20px;
}

input[type=text] {
  width: 100%;
  padding: 10px 15px;
  margin: 8px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#inputCpf, #inputAddress, #inputCep::-webkit-input-placeholder {
  color: #445566;
  font-weight: bolder;
}

#inputAddress {
  padding: auto;
  margin: auto;
  margin-right: 10px;
  width: 143%;
}

#inputState {
  padding: auto;
  margin: auto;
  margin-left: 79px;
  margin-top: auto;
  width: 217%;
}

#inputCep {
  padding: auto;
  margin: auto;
  margin-top: 8px;
  margin-right: auto;
  width: 143%;
}

#inputCity {
  padding: auto;
  margin: auto;
  margin-left: 80px;
  margin-top: 0px;
  width: 213%;
}

label#inputState {
  text-align: left;
  padding: 3.8px;
}

label#inputCep {
  padding: auto;
}

label#inputCity {
  padding: 8px;
}

.payment {
  margin-left: 480px;
  margin-top: 12px;
  font-family: "Nunito", sans-serif;
}

.payment h5 {
  font-weight: bold;
  font-size: 18px;
  color: #1188EE;
}

.payment hr {
  margin-right: 360px;
  opacity: 30%;
  border-top: 2px solid #445566;
}

label.custom-control-label {
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  color: #17222D;
}

label#cardName {
  margin-top: 13px;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
}

label#inputExpiration {
  margin-top: 13px;
  margin-left: 8px;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
}

#cardName {
  padding: auto;
  margin: auto;
  margin-top: 8px;
  margin-right: auto;
  width: 250px;
}

select#inputMonth {
  background-color: #EFF4F9;
  color: #445566;
  font-weight: bolder;
  margin-top: auto;
  margin-left: 45px;
  width: 125px;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
          box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
}

select#inputYear {
  background-color: #EFF4F9;
  color: #445566;
  font-weight: bolder;
  margin-top: -38px;
  margin-left: 185px;
  width: 80%;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
          box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
}

input#cardName {
  color: #17222D;
  font-weight: bolder;
  background-color: #EFF4F9;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
          box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
}

select#inputState.form-control {
  color: #445566;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

select#inputCity.form-control {
  color: #445566;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

label#inputNumber {
  margin-top: 13px;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
}

input#inputNumber {
  font-family: "Nunito", sans-serif;
  color: #17222D;
  font-weight: bold;
  background-color: #EFF4F9;
  width: 250px;
  margin-top: auto;
  margin-left: 480px;
  margin-bottom: 80px;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
          box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
}

input#inputCvv {
  font-family: "Nunito", sans-serif;
  color: #17222D;
  font-weight: bolder;
  background-color: #EFF4F9;
  width: 252px;
  margin-right: 353px;
  margin-top: auto;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
          box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
}

label#inputNumber {
  margin-top: 8px;
  margin-left: 482px;
}

label#inputCvv {
  font-family: "Nunito", sans-serif;
  color: #17222D;
  font-weight: bolder;
  margin-top: 8px;
  margin-left: 8px;
}

hr.final {
  margin-top: -39px;
  margin-left: 480px;
  margin-right: 353px;
  opacity: 30%;
  border-top: 2px solid #445566;
}

h6.paymentText {
  font-family: "Nunito", sans-serif;
  color: #445566;
  font-weight: bold;
  margin-top: 45px;
  margin-left: 475px;
}

.btn {
  font-family: "Nunito", sans-serif;
  background-color: #1188EE;
  font-weight: bold;
  height: 49px;
  width: 19%;
  margin-left: 475px;
  margin-top: -18px;
  margin-bottom: 20px;
}

small#securityInfo {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  margin-left: 475px;
  margin-top: -10px;
}

.footer {
  background-color: #1188EE;
  margin-top: 50px;
  height: 100px;
  width: 100%;
}

.nameOnFooter {
  color: #EFF4F9;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  position: fixed;
  left: 30px;
  bottom: 30px;
  width: 100%;
  text-align: left;
}
/*# sourceMappingURL=main.css.map */