@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

$primary_1: #EFF4F9;
$primary_2: #1188EE;
$primary_3: #17222D;
$primary_4: #445566;
$my_font: 'Nunito', sans-serif;

body {
    background-color: white;
}

h1.display-3 {
    font-family: $my_font;
    font-weight: bolder;
    background-color: $primary_1;
    color: $primary_4;
    height: 120px;
    width: auto;
    margin-top: 0px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    font-family: $my_font;
    font-weight: bolder;
    color: $primary_3;

    .form-control {
        background-color: $primary_1;
        color: $primary_3;
        height: 47px;
        width: 500px;
        margin-top: 2px;
        margin-right: 5px;
        border: none;
        border-radius: 3px;
        box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
    }
}

.form-group {
    letter-spacing: 1px;
    margin-right: 75px;
    margin-top: 20px;
}

input[type=text] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0px;
    box-sizing: border-box;
    margin-right: 6px;
}

#inputCpf, #inputAddress::-webkit-input-placeholder {
    color: $primary_4;
    font-weight: bold;
}

#inputAddress {
    padding: auto;
    margin: auto;
    margin-right: 10px;
    width: 245px;
}

#inputState {
    padding: auto;
    margin: 78px;
    margin-top: auto;
    width: 245px;
}