<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="assets/styles/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Lista</title>
  </head>
  <body>

    <nav class="navbar">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link1" href="../view/cadastro.html">Cadastro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../view/lista.html">Lista</a>
    </nav>
  </ul>
</li>

    <header class="header">
    <h1 class="display-3">Lista</h1>

    </header>

    <h5 class="clientList">Lista de Clientes</h5>
    <hr class="firstHr"/>

    <form>
    <label for="clientName" id="clientName">Nome do Cliente</label>
    <input type="text"
    class="form-control"
    id="clientName">

    <table class="table table-bordered" id="tableClient">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">CPF</th>
            <th scope="col">Criado em</th>
          </tr>
        </thead>
        <tbody>
          
            <tr>
            <td id="Name"></td>
            <td id="email"></td>
            <td id="cpf"></td>
            <td id="created"></td>
          </tr>
        </tbody>
      </table>
    </form>

    <footer class="footer">
        <div class="container">
        <h5 class="nameOnFooter">Alisson de Oliveira - 2020</h5>
        </div>
      </footer>

      <script src="../assets/scripts/clients.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      </body>
      </html>